.dark-bg-red{
    color: #340108;
}

.dark-button-red{
    background-color: #340108;
    color: white;
    font-weight: bold;
}

.bg-red{
    background-color: #6D071A;
}

.button-red{
    background-color: #6D071A;
    color: white;
    font-weight: bold;
}
